.create-user-modal-component {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth {
    width: 450px;
    height: 350px;
  }
  .MuiDialogContent-root {
    padding: 15px 45px;
    gap: 14px;
    display: flex;
    flex-direction: column;
  }
  .MuiFormControl-root {
    margin: 0;
  }
  .position-button {
    display: flex;
    justify-content: start;
    margin-top: 50px;
    padding: 0;
    .create-button {
      background-color: #109cf1;
      color:white;
       font-size: 14px;
    }
    .cancel-button {
        border: none;
        color: #5e5e5e;
    }
  }
}
